.Selectionmain {
  max-width: 980px;
  width: auto;
  height: auto;
  border-radius: 16px;
  // background-color: var(--back-color);
  margin: auto;
  .selectdiv {
    margin-top: 92px;

    .webuserinfo {
      color: var(--text-head);
      font-size: 33px;
      margin-bottom: 37px;
      .websiteheading {
        color: var(--text2-head);
      }
    }
  }
  .settingdiv {
    margin-top: 37px;
    form {
      display: flex;
      justify-content: space-between;

      label {
        display: flex;
        font-size: 23px;
        color: var(--white);
        font-family: "PR";

        .customswitch {
          margin-top: 0px !important;
          margin-left: 20px;
        }
      }
    }
  }

  .webhook {
    margin-top: 60px;
  }

  .hhdiv {
    width: 100%;
    height: auto;
    margin-top: 100px;

    img {
      width: inherit;
    }
  }
}
