.homemain {
  max-width: 980px;
  width: auto;
  height: auto;
  border-radius: 16px;
  // background-color: var(--back-color);
  margin: auto;

  .form {
    .para1 {
      margin-top: 98px;
      font-size: 33px;
      color: var(--white);
      margin-bottom: 40px;
      font-family: "PR";
    }
    .para2 {
      font-size: 33px;
      font-family: "PR";
      color: var(--white);
      margin-top: 60px;
      margin-bottom: 40px;
    }
    .para3 {
      font-size: 33px;
      color: var(--white);
      margin-top: 60px;
      margin-bottom: 40px;
    }

    .personalheading {
      width: 100%;
      height: auto;
      font-size: 33px;
      color: var(--text2-head);
    }

    .submitbtn {
      width: 100%;
      margin-top: 70px;
      display: flex;
      justify-content: space-between;
      button {
        width: 48%;
        height: 67px;

        &:nth-child(1) {
          background-color: var(--btn1-back);
          color: var(--btn2-back);
          font-size: 22px;
        }

        &:nth-child(2) {
          font-size: 22px;
          background-color: var(--btn2-back);
          color: var(--white);
        }
      }
    }
  }
}
