.header {
  display: flex;
  justify-content: space-between;
  .logohh {
    width: fit-content;
    height: auto;
    background-color: var(--btn1-back);
    border-radius: 10px;

    img {
      width: 100px;
    }
  }

  .userdiv {
    margin: auto auto auto 30px;
    .userinfo {
      color: var(--text-head);
      font-size: 33px;
      font-family: "PR";

      .userheading {
        color: var(--text2-head);
      }
    }
  }

  .crossbtn {
    margin: 15px 0px 0px auto;
  }
}
