:root {
  --back-color: #16162a;
  --btn1-back: #282846;
  --btn2-back: #7392ff;
  --text-head: #f3f3f3;
  --text2-head: #a5b9ff;
  --nav-tab: #818191;
  --white: #ffff;
  --white-shade: #f3f3f3;
  --slider-text: #54547b;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.nav-tabs {
  border-bottom: 0.9px solid #52526b !important;
  justify-content: center;
}
.nav-tabs .nav-item {
  margin: 0px 50px;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background: transparent !important;
  border-bottom: 5px solid #5c7ae5 !important;
  color: #fff !important;
}
.nav-tabs .nav-link {
  color: var(--nav-tab);
  border: none !important;
  font-family: "PM";
  font-size: 25px;
}

/* .custom-control-input:checked ~ .custom-control-label {
  padding: 10px; 
} */
.custom-control-input:checked ~ .custom-control-label::before {
  background: #829dff !important;
  border-color: none !important;
}
.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
  color: var(--white);
}
.custom-switch .custom-control-label::before {
  left: -2.25rem;
  width: 43px;
  height: 27px;
  pointer-events: all;
  border-radius: 16px;
  transition: none !important;
  box-shadow: none !important;
  border: none !important;
}
.custom-switch .custom-control-label::after {
  top: calc(0.25rem + 6px) !important;
  left: calc(-2.25rem + 8px) !important;
  width: calc(1rem - 0px) !important;
  height: calc(1rem - 0px) !important;
  background-color: #adb5bd;
  border-radius: 0.5rem;
  transition: 0.4s ease-out !important;
  box-shadow: none !important;
  border: none !important;
}
.form-control:focus {
  border: 1px solid #5c7ae5 !important;
  color: var(--white);
  background: transparent !important;
}
.form-group {
  width: 100% !important;
}
.form-label {
  color: var(--white-shade) !important;
  font-size: 20px !important;
  font-family: "PR";
}

#formBasicEmail {
  background: transparent !important;
  border: 1px solid #52526b;
  box-shadow: none !important;
  height: 60px;
  border-radius: 8px;
  color: var(--white);
  font-size: 18px;
}
#formBasicEmail::placeholder {
  color: rgba(243, 243, 243, 0.36);
  font-family: "PR";
  font-size: 18px;
}
