body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "PR";
  src: local("Poppins-Regular"), url("../src/font-family/Poppins-Regular.ttf");
}
@font-face {
  font-family: "PSB";
  src: local("Poppins-SemiBold"), url("../src/font-family/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: "PB";
  src: local("Poppins-Bold"), url("../src/font-family/Poppins-Bold.ttf");
}
@font-face {
  font-family: "PM";
  src: local("Poppins-Medium"), url("../src/font-family/Poppins-Medium.ttf");
}

.toggle-btn .checkout-label {
  color: linear-gradient(180deg, #88dd0f 100%, #65aa02 100%);
  background: linear-gradient(180deg, #a0ee32 0%, #6eba00 100%);
  -webkit-text-fill-color: transparent;
}

.radio-togglestwo {
  position: relative;
  display: table;
  font-size: 12px;
  width: 100% !important;
  height: 76px;
  color: #ffff !important;
  border: none !important;
  border-radius: 13px !important;
  background: #282846;
}
.radio-togglestwo label {
  position: relative;
  z-index: 999 !important;
  font-size: 19px !important;
  font-family: "PR";
  display: table-cell;
  width: var(--radio-toggles--size, 50%);
  padding: 30px !important;
  height: 60px !important;
  line-height: 1;
  letter-spacing: 1px !important;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  color: var(--slider-text);
  background-color: transparent;
  border: 0;
  transition: color 0.2s ease-out;
}
.radio-togglestwo__slider {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: var(--radio-toggles__slide--left, -9999px) !important;
  z-index: 99 !important;
  box-sizing: border-box;
  width: var(--radio-toggles--size, 48%) !important;
  height: 50px;
  margin: auto 15px auto 9px;
  background-color: #829dff !important;
  background-clip: content-box;
  border-radius: 10px !important;
  transition: left 0.7s ease-out !important;
  box-shadow: none !important;
  color: #ffff !important;
}
.radio-togglestwo input[type="radio"] {
  position: absolute;
  left: -9999px;
  z-index: -1;
}
.radio-togglestwo input[type="radio"]:checked + label {
  color: #fff !important;
}
.radio-togglestwo
  input[type="radio"]:nth-of-type(1):checked
  ~ .radio-togglestwo__slider {
  --radio-toggles__slide--left: calc(var(--radio-toggles--size, 50%) * (1 - 1));
}
.radio-togglestwo
  input[type="radio"]:nth-of-type(2):checked
  ~ .radio-togglestwo__slider {
  --radio-toggles__slide--left: calc(var(--radio-toggles--size, 50%) * (2 - 1));
}
.radio-togglestwo
  input[type="radio"]:nth-of-type(3):checked
  ~ .radio-togglestwo__slider {
  --radio-toggles__slide--left: calc(var(--radio-toggles--size, 50%) * (3 - 1));
}
.radio-togglestwo
  input[type="radio"]:nth-of-type(4):checked
  ~ .radio-togglestwo__slider {
  --radio-toggles__slide--left: calc(var(--radio-toggles--size, 50%) * (4 - 1));
}
.radio-togglestwo
  input[type="radio"]:nth-of-type(5):checked
  ~ .radio-togglestwo__slider {
  --radio-toggles__slide--left: calc(var(--radio-toggles--size, 50%) * (5 - 1));
}
