.toggle-btn .checkout-label {
  color: linear-gradient(180deg, #88dd0f 100%, #65aa02 100%);
  background: linear-gradient(180deg, #a0ee32 0%, #6eba00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.radio-togglestwo {
  position: relative;
  display: table;
  font-size: 12px;
  /* min-width: 430px; */
  width: 98%;
  color: #666;
  border: 1px solid #3e3f41;
  border-radius: 7px;
}
.radio-togglestwo label {
  position: relative;
  z-index: 1;
  display: table-cell;
  width: var(--radio-toggles--size, 50%);
  padding: 19px;
  line-height: 1;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  transition: color 0.2s ease-out;
}
.radio-togglestwo__slider {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: var(--radio-toggles__slide--left, -9999px);
  z-index: -1;
  box-sizing: border-box;
  width: var(--radio-toggles--size, 50%);
  background-color: #85d217;
  background-clip: content-box;
  border-radius: 7px;
  transition: left 0.3s ease-out;
  box-shadow: 0px 3.25237px 23.5797px rgba(116, 192, 8, 0.33);
}
.radio-togglestwo input[type="radio"] {
  position: absolute;
  left: -9999px;
  z-index: -1;
}
.radio-togglestwo input[type="radio"]:checked + label {
  color: #fff;
}
.radio-togglestwo
  input[type="radio"]:nth-of-type(1):checked
  ~ .radio-togglestwo__slider {
  --radio-toggles__slide--left: calc(var(--radio-toggles--size, 50%) * (1 - 1));
}
.radio-togglestwo
  input[type="radio"]:nth-of-type(2):checked
  ~ .radio-togglestwo__slider {
  --radio-toggles__slide--left: calc(var(--radio-toggles--size, 50%) * (2 - 1));
}
.radio-togglestwo
  input[type="radio"]:nth-of-type(3):checked
  ~ .radio-togglestwo__slider {
  --radio-toggles__slide--left: calc(var(--radio-toggles--size, 50%) * (3 - 1));
}
.radio-togglestwo
  input[type="radio"]:nth-of-type(4):checked
  ~ .radio-togglestwo__slider {
  --radio-toggles__slide--left: calc(var(--radio-toggles--size, 50%) * (4 - 1));
}
.radio-togglestwo
  input[type="radio"]:nth-of-type(5):checked
  ~ .radio-togglestwo__slider {
  --radio-toggles__slide--left: calc(var(--radio-toggles--size, 50%) * (5 - 1));
}
